body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

#root {
  background-color: rgba(78, 13, 90, 0.46);
}

a {
  text-decoration: none;
}

.social {
  position: absolute;
  left: 78%;
}

.social h1 {
  width: 90%;
}

.social .logo {
  width: 100%;
}

.redes img {
  width: 65%;
  margin-top: -7%;
}

@media (min-width: 200px) {
  .social {
    display: none;
  }
  #background-video {
    display: none;
  }
  .dates-desk {
    display: none;
  }
  .tour-title {
    position: absolute;
    width: 80%;
    left: 30px;
  }
  .mobile-container {
    width: 100%;
    display: flex;
  }
  .bg-img {
    width: 100%;
    height: 120vh;
  }
  .sparks {
    position: absolute;
    width: 100%;
    height: 120vh
  }
  .ball {
    position: absolute;
    width: 100%;
    top: 80px;
    opacity: .2;
  }
  .logo-mobile {
    position: relative;
  }
  .logo-mobile img {
    width: 90%;
    margin: 0;
  }
  .social-mobile {
    position: absolute;
    display: flex;
    bottom: -11%;
  }
  .redes-mobile {
    position: relative;
    top: 55px;
  }
  .redes-mobile img {
    width: 25%;
  }
  .transition-container {
    position: absolute;
    top: 10%;
    left: 0%;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  :focus {
    outline: none
  }
  button img {
    width: 120px;
  }
  .date1 {
    position: relative;
    top: 190px;
    left: 60px;
  }
  .date2 {
    position: relative;
    top: 320px;
    left: 60px;
  }
  .date3 {
    position: relative;
    top: 320px;
    left: 160px;
  }
  .date4 {
    position: relative;
    top: 190px;
    left: 160px;
  }
}

@media (min-width: 400px) {
  .logo-mobile {
    top: 0;
  }
  .logo-mobile img {
    width: 90%;
  }
  .dates-container {
    position: absolute;
    top: 150px;
    display: flex;
    flex-wrap: wrap
  }
  .dates-container img {
    width: 45%;
    height: 45%;
  }
  .redes-mobile {
    top: 70px;
  }
  .bg-img {
    width: 100%;
    height: 145vh;
  }
}

@media (min-width: 500px) {
  .mobile-container {
    display: none;
  }
  .social {
    display: block;
  }
  .dates-desk {
    background-image: url('../images/bgtour.png');
    display: flex;
    width: 100%;
  }
  .left-side {
    display: flex;
    flex-direction: column;
  }
  .tour-title-desk {
    width: 450px;
  }
  .afro {
    position: relative;
    top: -120px;
    left: -20px;
    width: 500px;
  }
  .right-side {
    margin-top: 70px;
  }
  .redes {
    margin-right: 48%;
    position: relative;
    left: 27%;
  }
  #background-video {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
}

@media (min-width: 800px) {
  .redes {
    margin-right: 55%;
  }
}