body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

#root {
  background-color: rgba(78, 13, 90, 0.46);
}

a {
  text-decoration: none;
}

.social {
  position: absolute;
  left: 78%;
}

.social h1 {
  width: 90%;
}

.social .logo {
  width: 100%;
}

.redes img {
  width: 65%;
  margin-top: -27%;
}

@media (min-width: 200px) {
  .social {
    display: none;
  }
  #background-video {
    display: none;
  }
  .dates-desk {
    display: none;
  }
  .tour-title {
    position: absolute;
    top: -30px;
  }
  .mobile-container {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .bg-img {
    width: 100%;
  }
  .sparks {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .ball {
    position: absolute;
    width: 100%;
    top: 50px;
    opacity: .2;
  }
  .logo-mobile {
    position: relative;
    top: 0px;
  }
  .logo-mobile img {
    width: 90%;
  }
  .social-mobile {
    position: absolute;
    bottom: 0px;
    display: flex;
  }
  .redes-mobile {
    position: relative;
    margin-top: 75px;
    padding-right: 10px;
  }
  .redes-mobile img {
    width: 36%;
    margin: -10px;
  }
  .dates-container {
    position: absolute;
    align-self: center;
    text-align: center;
    top: 258px;
  }
  .dates-container img {
    width: 78%;
    margin: -10px;
  }
}

@media (min-width: 400px) {
  .dates-container {
    position: absolute;
    bottom: 220px;
    left: 50px;
    align-self: center;
    text-align: center;
  }
}

@media (min-width: 500px) {
  .mobile-container {
    display: none;
  }
  .social {
    display: block;
  }
  .dates-desk {
    background-image: url('../images/deskbg.png');
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left-side {
    display: flex;
    flex-direction: column;
  }
  .tour-title-desk {
    width: 415px;
    top: 20px;
    position: relative;
  }
  .afro {
    position: relative;
    top: -146px;
    left: -42px;
    width: 500px;
  }
  .right-side {
    position: relative;
    right: 89px;
  }
  .right-side img {
    margin: 0;
    width: 124%;
  }
  .redes {
    margin-right: 48%;
    position: relative;
    left: 27%;
  }
  #background-video {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
}

@media (min-width: 768px) {
  .dates-desk {
    flex-direction: row;
  }
  .right-side img {
    width: 119%;
    position: relative;
    top: 80px;
  }
}

@media (min-width: 1000px) {
  .right-side img {
    width: 100%;
  }
  .right-side {
    left: 30px;
  }
  .tour-title-desk {
    width: 102%;
  }
}